body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.card-icons img {
    width: 40px;
    height: 25px;
}

.hidden {
    opacity: 0.5;
    filter: grayscale(100%);
    display: none;

}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.input-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.input-group button:hover {
    background-color: #218838;
}
